class NexusFiber {
  #fiberId;
  #pendingProps;
  #memoizedProps;
  #alternateFiber;
  #parentToken;

  constructor(fiberId, parentToken, pendingProps, memoizedProps) {
    this.#fiberId = fiberId;
    this.#parentToken = parentToken;
    this.#pendingProps = pendingProps;
    this.#memoizedProps = memoizedProps;
  }

  initialize() {
    this.#fiberId = FiberRegistry.getInstance().getNextFreeFiberId();
    this.#pendingProps = this.#pendingProps || {};
    this.#memoizedProps = this.#memoizedProps || {};
  }

  cleanup() {
    this.#pendingProps = null;
    this.#memoizedProps = null;
    this.#alternateFiber = null;
  }

  getAlternateFiber() {
    return this.#alternateFiber;
  }

  setAlternateFiber(alternateFiber) {
    this.#alternateFiber = alternateFiber;
  }

  getCancellationToken() {
    return this.#parentToken?.getToken();
  }

  setParentToken(parentToken) {
    this.#parentToken = parentToken;
  }

  getPendingProps() {
    return this.#pendingProps;
  }

  setPendingProps(pendingProps) {
    this.#pendingProps = pendingProps;
  }

  getMemoizedProps() {
    return this.#memoizedProps;
  }

  setMemoizedProps(memoizedProps) {
    this.#memoizedProps = memoizedProps;
  }
}

class FiberRegistry {
  #pool = {};
  #nextFreeId = 0;

  constructor() {}

  getInstance() {
    if (!FiberRegistry.instance) {
      FiberRegistry.instance = new FiberRegistry();
    }
    return FiberRegistry.instance;
  }

  getNextFreeFiberId() {
    return this.#nextFreeId++;
  }

  getFiber(fiberId) {
    return this.#pool[fiberId];
  }

  setFiber(fiberId, fiberInstance) {
    this.#pool[fiberId] = fiberInstance;
  }

  releaseFiber(fiberInstance) {
    this.removeFiberInstance(fiberInstance.#fiberId);
  }

  removeFiberInstance(fiberId) {
    delete this.#pool[fiberId];
  }

  acquireFiber(parentToken, pendingProps, memoizedProps) {
    const fiberInstance = this.getFiber(this.getNextFreeFiberId());
    if (fiberInstance) {
      fiberInstance.initialize();
      fiberInstance.setPendingProps(pendingProps);
      fiberInstance.setMemoizedProps(memoizedProps);
      return fiberInstance;
    } else {
      const newFiber = new NexusFiber(this.getNextFreeFiberId(), parentToken, pendingProps, memoizedProps);
      this.setFiber(this.getNextFreeFiberId(), newFiber);
      return newFiber;
    }
  }
}

class NexusFiberPool {
  #instances = {};

  constructor() {}

  getInstance() {
    if (!NexusFiberPool.pool) {
      NexusFiberPool.pool = new NexusFiberPool();
    }
    return NexusFiberPool.pool;
  }

  getFiberInstance(fiberId) {
    return this.#instances[fiberId];
  }

  setFiberInstance(fiberId, fiberInstance) {
    this.#instances[fiberId] = fiberInstance;
  }

  releaseFiber(fiberInstance) {
    this.removeFiberInstance(fiberInstance.#fiberId);
  }

  removeFiberInstance(fiberId) {
    delete this.#instances[fiberId];
  }

  acquireFiber(parentToken, pendingProps, memoizedProps) {
    const fiberInstance = this.getInstance().acquireFiber(parentToken, pendingProps, memoizedProps);
    return fiberInstance;
  }
}

class LaneManager {
  #lanes = {};
  #expirationTimes = {};

  constructor() {}

  getInstance() {
    if (!LaneManager.laneManager) {
      LaneManager.laneManager = new LaneManager();
    }
    return LaneManager.laneManager;
  }

  getLane(lane) {
    return this.#lanes[lane];
  }

  bindLane(fiberInstance, laneId) {
    fiberInstance.lane = laneId;
    this.#lanes[laneId].addFiber(fiberInstance);
  }

  releaseLaneBinding(laneId) {
    delete this.#lanes[laneId];
  }

  getNextFreeLane() {
    let lane;
    for (let l in this.#lanes) {
      if (Lane.isFree(this.#lanes[l])) {
        lane = l;
        break;
      }
    }
    return lane || Lane.NoLanes;
  }

  releaseFiber(fiberInstance) {
    this.#lanes[fiberInstance.lane].removeFiber(fiberInstance);
  }
}

class Lane {
  static NoLanes = 0;
  static SyncLane = 1;
  static InputContinuousLane = 2;
  static DefaultLane = 3;
  static IdleLane = 4;
  static scheduled = { [Lane.NoLanes]: false, [Lane.SyncLane]: false, [Lane.InputContinuousLane]: false, [Lane.DefaultLane]: false, [Lane.IdleLane]: false };

  constructor() {}

  getExpirationTime(lane, currentTime) {
    switch (lane) {
      case Lane.SyncLane:
        return currentTime + 500;
      case Lane.InputContinuousLane:
        return currentTime + 1000;
      case Lane.DefaultLane:
        return currentTime + 5000;
      case Lane.IdleLane:
        return currentTime + 10000;
      default:
        return currentTime + 5000;
    }
  }

  isFree() {
    const self = this;
    return (Date.now() - self.expirationTime) > 0;
  }

  isScheduled(lane) {
    if (!Lane.scheduled[lane]) {
      Lane.scheduled[lane] = true;
    } else {
      return true;
    }
    return false;
  }

  reschedule(lane) {
    Lane.scheduled[lane] = true;
  }
}

class CancellationToken {
  #reason;
  #isCancelled;

  constructor(reason = "Operation cancelled") {
    this.#reason = reason;
    this.#isCancelled = false;
  }

  isCancellationRequested() {
    return this.#isCancelled;
  }

  throwIfCancelled() {
    if (this.#isCancelled) {
      const error = new Error(this.#reason || "OperationCanceledException");
      error.name = "OperationCanceledException";
      throw error;
    }
  }

  cancel() {
    this.#isCancelled = true;
  }
}

class NexusFiberClass extends NexusFiber {
  #token;

  constructor(parentToken, pendingProps, memoizedProps) {
    super(null, parentToken, pendingProps, memoizedProps);
    this.#token = new CancellationToken();
  }

  acquireToken() {
    return this.#token;
  }

  releaseToken() {
    this.#token.cancel();
  }
}

const fiberPool = NexusFiberPool.getInstance();
const laneManager = LaneManager.getInstance();

const nexusFiber = fiberPool.acquireFiber(null, {}, {});